DATABASE_URL="mysql://user:pass@localhost:3306/utm_tv_liputan"
JWT_SECRET="ganti-dengan-rahasia-panjang"
SESSION_SECRET="ganti-dengan-rahasia-cookie"
ADMIN_SEED_EMAIL="admin@trunojoyo.ac.id"
ADMIN_SEED_PASSWORD="change-me"
ADMIN_SEED_NAME="Admin UTM TV"

UPLOAD_DIR="./uploads"
MAX_FILE_SIZE_MB="10"

SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="noreply@trunojoyo.ac.id"

APP_URL="http://localhost:3000"
FONNTE_WA_API="ganti-dengan-token-fonnte"
FONNTE_GROUP_ID="ganti-dengan-id-grup"
ALLOWED_EMAIL_DOMAINS="student.trunojoyo.ac.id,trunojoyo.ac.id"
NODE_ENV="development"
